//---------------------------------------------------------
//-------------------------BTNS---------------------------
//---------------------------------------------------------

.btn {
    display: inline-block;
    border-radius: $borderRad;
    @include transFast();
    padding: 0.5em 1.5em;
}

.btn--big {
    padding: 1em 2.5em;
}

// PRIMARY BUTTON
.btn--primary {
    @include glassSurface();
    border: 1px solid var(--primary);
    background: var(--primary);
    color: var(--bg-100);
    &:hover {
        background: color-mix(in srgb, var(--primary) 50%, transparent);
    }
    &:active {
        background: color-mix(in srgb, var(--primary) 70%, transparent);
        color: var(--text-100);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.btn--outlined {
    &:hover {
        color: var(--accent);
        text-decoration: line-through;
    }
    &:active {
        color: var(--secondary);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

// SECONDARY BUTTON
.btn--secondary {
    background: var(--bg-100);
    color: var(--primary);
    &:hover {
        background: color-mix(in srgb, var(--primary) 50%, transparent);
    }
    &:active {
        background: color-mix(in srgb, var(--primary) 70%, transparent);
        color: var(--text-100);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.scrollup--btn-container {
    position: fixed;
    bottom: 2em;
    right: 2em;
    @include transFast();
}

.scrollup--btn {
    width: 40px;
    height: 40px;
    border-radius: $borderRad;
    background-color: var(--bg-100);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted var(--primary);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    .svgIcon {
        width: 12px;
        transition-duration: 0.3s;
    }
    .svgIcon path {
        fill: var(--primary);
    }

    span {
        position: absolute;
        bottom: -20px;
        content: 'Back to Top';
        color: white;
        /* transition-duration: .3s; */
        font-size: 0px;
    }
    &:hover {
        width: 140px;
        transition-duration: 0.3s;
        background-color: var(--secondary);
        align-items: center;
        .svgIcon {
            /* width: 20px; */
            transition-duration: 0.3s;
            transform: translateY(-200%);
        }
        span {
            font-size: 13px;
            opacity: 1;
            bottom: unset;
            /* transform: translateY(-30px); */
            transition-duration: 0.3s;
        }
    }
    &:active {
        background: var(--secondary);
        scale: 0.95;
    }
}

.login-google-btn {
    @include flexCenter();
    @include transFast();
    height: 50px;
    gap: 10px;
    margin-block: 3px;
    color: gray;
    font-weight: 600;
    background: white;
    padding: 5px 15px;
    font-size: 0.9rem;
    border-radius: $borderRad;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.242);
    max-height: 2.5rem;
    overflow: hidden;
    svg {
        width: 30px;
        height: 30px;
    }
    .two-side-button {
        border-radius: 0;
        width: 100%;
        .texts .submit-title,
        .loading-title {
            padding: 0;
        }
    }
    &:hover {
        background: rgb(216, 216, 216);
        .two-side-button {
            box-shadow: initial;
        }
        .texts {
            transform: none;
        }
    }
    .loading-title {
        background: initial;
    }
    &:active {
        scale: 0.95;
    }
    &.google-loading {
        .texts {
            transform: translateY(-2.5rem);
        }
        svg {
            animation: rotations 0.8s ease-in-out infinite;
        }
        .loading-title {
            animation: loadingText 3s ease infinite;
        }
        // pointer-events: none;
    }
}

@keyframes loadingText {
    0%,
    100% {
        transform: translateX(0px);
    }
    25%,
    70% {
        transform: translatey(-1px);
    }
    50% {
        transform: translateX(1px);
    }
}
