.message-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    // padding: 0.8em;
    margin-bottom: 1em;
}
$messagePadding: 1em;
.message-sidebar {
    // padding: 1em;
    padding: $messagePadding;
    overflow-y: scroll;
}

.message__title {
    @include glassSurface();
    @include flexCenter();
    justify-content: space-between;
    margin-bottom: 1em;
    border-radius: $borderRad/1.3;

    padding: 0.5em 1em;
}
.message-search {
    position: sticky;
    top: 0;
    z-index: 5;
    backdrop-filter: blur(2px);
    @include flexCenter();
    gap: 0.4em;
    justify-content: space-between;
    .search-input {
        @include flexCenter();
        gap: 0.2em;
        width: 100%;
        justify-content: space-between;
        border: 2px solid var(--primary);
        border-radius: $borderRad;
        input {
            &:focus {
                outline: none;
            }
            padding: 0.6em 1em;
            width: 100%;
            background: transparent;
        }
        &:has(input:focus) {
            border-color: var(--secondary);
        }
    }

    margin-bottom: 0.5em;
}

.message__header-wrapper {
    @include flexCenter();
    flex-direction: column;
    gap: 0.2em;
    .message__header-item {
        cursor: pointer;
        padding: 0.2em;
        width: 100%;
        height: 5.4em;
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-items: flex-start;
        text-align: left;
        border-radius: $borderRad;
        overflow: hidden;
        gap: 0.3em;
        .header__sender-name {
            font-weight: 700;
        }
        &.active {
            @include glassSurfaceActive();
        }
        &:hover:not(.active) {
            @include glassSurface();
        }
    }
    .header__img {
        position: relative;
        height: 100%;
        img {
            border-radius: 50vw;
            height: 5em;
            width: 5em;
            object-fit: cover;
        }
    }
}

.message-wrapper {
    // padding: 1em;
    // border: 1px solid red;
    @include flexCenter();
    flex-direction: column;
}
.messages-container {
    flex-grow: 2;
    width: 100%;
}
.message-action {
    position: relative;
    width: 100%;
    @include flexCenter();
    padding: $messagePadding;
    gap: 0.5em;
    input {
        width: 100%;
    }
}
// .btn--emoji {
// }
.emoji-picker {
    position: absolute;
    bottom: 1em;
    right: 1em;
    // transform: translate(-50%, -50%);
}
