.notification {
    min-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    border: 2px dotted var(--text-100);
    // background: var(--accent-100);
    // backdrop-filter: blur(15px);
    // background: rgba(0, 0, 0, 0.15);
    background: var(--bg-100);
    padding: 1em;
    svg {
        // width: 25px;
        fill: var(--text-100);
    }

    .sucess-icon {
        width: 30px;
        padding: 5px;
        background: $color-sucess;
        border-radius: $borderRad;
        fill: white;
    }
    .notification__body {
        display: flex;
        justify-content: left;
        gap: 20px;
        align-items: center;
        p {
            margin-right: 30px;
        }
    }
    @media (min-width: $break1) {
        margin: 1em;
        max-width: 500px;
        border-radius: $borderRad;
    }
}
.close-icon {
    cursor: pointer;
    border: 1px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 8px;
    border-radius: 100vmax;
    padding: 5px;
    @include transFast();
    svg {
        width: 20px;
    }
    &:hover {
        background-color: var(--secondary);
    }
    &:active {
        // background: var(--accent-200);
        scale: 0.9;
    }
}
