@use './config/index.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    text-align: center;
    scroll-behavior: smooth;
}
body {
    // $colorgrid: color-mix(in srgb, var(--primary) 10%, transparent);
    // animation: backgroundScroll 5s linear infinite;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke-width='2' stroke='rgba(163,163,163,0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    // background-repeat: repeat;
    z-index: -1;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    a {
        color: var(--text-100);
    }
}
@keyframes backgroundScroll {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 31px;
    }
}
body:has(.preloading) {
    overflow: hidden;
}
body:has(.light-theme) {
    invert__container {
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        button,
        a {
            color: var(--bg-100);
        }
    }
}
svg {
    stroke: var(--text-100);
    fill: var(--text-100);
}

//---------------------------------------------------------
//------------------------GRID,FLEX------------------------
//---------------------------------------------------------

:where(.flex) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.grid {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.grid--1x2 {
    //min-height: 90vh;
    padding: 1em 0;
    grid-template-columns: 1fr;
    gap: 2em;
    @media screen and (min-width: 768px) {
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-gap: 1em;
        grid-template-columns: repeat(2, (minmax(200px, 700px)));
        .content {
            padding: 2em;
            text-align: left;
            align-self: start;
        }
    }
}
.grid--1x3 {
    padding: 1em 0;
    grid-template-columns: 1fr;
    @media screen and (min-width: 768px) {
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-gap: 1em;
        grid-template-columns: 2fr 3fr 1fr;
    }
}
@mixin containerChild() {
    width: min($maxWidth, 100% - 1rem);
    margin-inline: auto;
}
.full-height {
    min-height: 100vh;
    min-height: 100svh;
}
.limit-width {
    @include containerChild();
    margin: 0 auto;
}
p {
    max-width: 75ch;
}
:where(p) {
    @media (max-width: 600px) {
        text-align: justify;
    }
}

.main-content {
    min-height: calc(100vh - $headerSize);
    min-height: calc(100svh - $headerSize);
    @include containerChild();
}
.under-navbar {
    margin-top: 1em;
}
//---------------------------------------------------------
input,
textarea {
    border-radius: $borderRad;
}
.glass-card {
    @include glassSurface();
}
.glass-card-inner {
    @include glassSurfaceInner();
}
.glass-surface {
    @include glassSurface();
}
.glass-surface-inner {
    @include glassSurfaceInner();
}
.glass-active {
    background: var(--secondary);
}
.logo {
    fill: var(--text-100);
}
.logo-text {
    color: var(--text-100);
}

.glass-bg {
    background: rgba(62, 62, 62, 0.5);
    backdrop-filter: blur(4px) saturate(50%);
}
//---------------------------------------------------------
.screen-container {
    @include glassSurface();
    height: calc(100vh - $headerSize);
    height: calc(100svh - $headerSize);
    margin-bottom: 1em;
}
.card-padding {
    padding: $cardPadding;
}

.toaster {
    li {
        @include glassSurface();
        border-radius: $borderRad;
    }
}
//---------------------------------------------------------
//------------------------      ---------------------------
//---------------------------------------------------------

.input--primary {
    @include glassSurface();
    border-radius: $borderRad;
    border: none;
    padding: 0.5em 1em;

    width: min(100%, 300px); // 100%;
    &:focus {
        outline: 2px solid var(--primary);
    }
}
.profile_img {
    position: relative;
    overflow: hidden;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50vw;
    border: 1px solid transparent;
    &:hover {
        border-color: var(--primary);
    }
    img {
        border-radius: 50vw;
        object-fit: cover;
    }
}

//---------------------------------------------------------
//------------------------HERO-----------------------------
//---------------------------------------------------------

.hero {
    min-height: calc(100svh - $headerSize);
    @include flexCenter();
    flex-direction: column;
    .hero-subtitle {
        font-weight: 500;
    }
    .hero-title {
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 0.2em;
    }
    .hero-description {
        margin-bottom: 4em;
    }
    .hero-color {
        color: var(--primary);
    }
}

//-----------------------------------------------
//------------------- ABOUT ---------------------
//-----------------------------------------------

.section {
    min-height: calc(100svh - 80px);
    height: 100svh;
    @include flexCenter();
    flex-direction: column;
}

.img-holder {
    position: relative;
    border: 1em solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: $borderRad;
    img {
        border-radius: $borderRad;
    }
}
.about-description {
    margin-block: 0.5em 4em;
}
.about-header > * {
    margin-inline: auto;
}
.about-text {
    margin-block: 1em 2em;
}

// .about-content {
// }
//-----------------------------------------------
//-------------- Products ------------------
//-----------------------------------------------
.porduct-categories {
    flex-wrap: wrap;
    .active {
        background: var(--primary);
    }
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    margin-top: 1em;
    .product__item {
        overflow: hidden;
        height: 400px;
    }
    // position: relative;
    // .product__name {
    // }
    .product__price {
        font-weight: 600;
    }
    .product__image {
        position: relative;
        height: 300px;
        width: 100%;
        // background: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 62, 255));
        img {
            opacity: 0.8;
            object-fit: cover;
        }
    }
}

.item-page {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 1em;
    text-align: left;
    margin-bottom: 1em;
    height: calc(100svh - 80px);
    .item__details {
        @include glassSurface();
        padding: 1em;
        overflow-y: hidden;
    }
    .item__line {
        display: grid;
        align-items: center;
        width: 100%;
        grid-template-columns: 30px 1fr;
        gap: 0.2em;
        margin-bottom: 0.5em;
        flex-shrink: 0;
    }
    .item__des {
        // flex-grow: 0;
        align-items: flex-start;
        flex-shrink: 10;
        overflow-y: auto;
    }
    .item__price {
        font-weight: 600;
        text-align: left;
        @include titleFontSize();
    }
    .item__name {
        font-weight: 700;
        margin-bottom: 1em;
    }

    .item__img {
        @include glassSurface();
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            opacity: 0.8;
            object-fit: cover;
        }
        .item__like {
            @include glassSurface();
            padding: 0.2em 0.4em;
            position: absolute;
            bottom: 1em;
            right: 1em;
            z-index: 99;
        }
    }
}
//-----------------------------------------------
//--------------------Contact--------------------
//-----------------------------------------------

/*=======================================================
    404 page
=========================================================*/

.page_404 {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
    background-color: white;
    padding: 40px 20;
}

.four_zero_four_bg {
    border-radius: $borderRad;
    margin-bottom: 1em;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    color: var(--primary);
    .page_404 img {
        width: 100%;
    }
}

.contant_box_404 {
    width: 100%;
    text-align: center;
    color: var(--primary);
    background: white;
    border-radius: $borderRad;
    padding-block: 1.5em;
    font-weight: 600;

    .title-404 {
        font-size: 4rem;
        font-weight: 700;
    }
}

//=======================================================
// Popover
//=======================================================

.popover {
    position: relative;
    @include flexCenter;
}
.popover-button {
    // border: 1px solid red;
    border-radius: 50vw;
    outline: none;
}
.popover-list {
    @include flexCenter();
    @include glassSurface();
    border-radius: $borderRad();
    flex-direction: column;
    overflow: hidden;
    margin-top: 1em;
    width: min(200px, 100%);
    a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.5em 1em;
        @include transFast();
        &:hover {
            text-decoration: line-through;
        }
        // border: 1px solid red;
    }
}

//=======================================================
// Language
//=======================================================
// .lang-toggle {

// }
//=======================================================
// OWN PROFILE
//=======================================================

.own-profile {
    @include flexCenter();
    justify-content: initial;
    padding: $cardPadding;
    gap: 1em;
    justify-content: space-around;
    .profile__img {
        height: 12vw;
        width: 12vw;
        position: relative;
        border-radius: 50vw;
        @include imageBoxShadow();
        img {
            object-fit: cover;
            border-radius: 50vw;
            height: 100%;
            width: 100%;
        }
    }
    .profile__details {
        text-align: left;
    }
    .profile__title {
        @include titleFontSize();
        margin-bottom: 1em;
    }
    .profile__info {
        div {
            justify-content: flex-start;
        }
    }
}

.account__menu {
    margin-top: 1em;

    .acc__title {
        font-weight: 600;
        // @include titleFontSize();
        margin-bottom: 1em;
    }
}
.acc__product-list {
    display: grid;
    padding-inline: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(min(600px, 100%), 1fr));
    gap: 0.5em;
}

.acc__product-item {
    @include glassSurfaceInner();
    display: flex;
    width: 100%;
    margin-inline: auto;
    height: 10em;
    overflow: hidden;
    text-align: left;
    .acc__product-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5em 0.8em;
    }
    .acc__product-image {
        position: relative;
        width: 10em;
        img {
            object-fit: cover;
        }
    }
}
.acc__product-name {
    font-weight: 600;
}

.acc__product-likes {
    @include flexCenter();
    gap: 0.2em;
}
