:root:has(.light-theme),
.light-theme {
    --primary: white;
    // --primary-hover: #9ed6bc;
    --secondary: #9e9fbe;
    --accent: #c3a5b9;
    --text-100: #3c3a39;
    --bg-100: black;
}

:root:has(.superdark-theme),
.superdark-theme {
    --primary: #0fbaba;
    // --primary-hover: #3e9f11;
    --secondary: #006c67;
    --accent: #d6c6e1;
    --text-100: white;
    --bg-100: #0f0d0e;
}

:root:has(.superdark-orange-theme),
.superdark-orange-theme {
    --primary: #c97900;
    // --primary-hover: #c9b500;
    --secondary: #823a00;
    --accent: #8e5b9a;
    --text-100: white;
    --bg-100: #0f0d0e;
    // --bg-100: black;
}
