//---------------------------------------------------------
//-----------------------VARIABLES-------------------------
//---------------------------------------------------------
$loader-color: #141516;
$color-sucess: darkgreen;
$color-danger: #ff3700;
$color-danger2: #bd2900;
$color-danger3: #6b1700;

$color-bg: rgb(10, 10, 10);
$color-black: rgba(0, 0, 0, 0.9);

$maxWidth: 1240px;
$navBreakPoint: 700px;
$break1: 768px;
$break2: 968px;
$break3: 1168px;
$borderRad: 20px;
$headerSize: 100px;

$cardPadding: 1em;

:root {
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}
